@font-face {
    font-family: dos;
    src: url(../fonts/Merriweather-Regular.ttf);
}
body{
    background-color: black;
    font-family: dos;
}
.menu{
    background-color: black;
    padding: 20%;
    color: rgb(255, 131, 152);
    padding: 1%;
    border-radius: 10px;
    border-style: double;
    text-align: center;
}
a{
    color: rgb(255, 131, 152);
}
.color-changing-text {
    font-size: 36px;
    animation: colorChange 5s infinite alternate;
  }
  
  @keyframes colorChange {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: orange;
    }
    100% {
      color: purple;
    }
  }
footer{
    color: rgb(255, 131, 152);
    text-align: center;
}